*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
    color: rgb(18, 18, 211);
}
.container{
    width: 300px;
    display: inline;
    float: left;
    margin-left: 100px;
}
h2{
    font-size: 25px;
    margin-bottom: 20px;
}
p{
    font-size: 15px;
    padding: 20px;
    margin-bottom: 15px;
}